header {
  width: 100%;
  height: 70px;
  background-color: #ff6000;
}
* {
  margin: 0; /*para que no tenga margenes*/
  text-decoration: none; /*permite que el texto no sea decorado*/
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  background: rgb(247, 245, 245);
  /*centra el contenido*/
}
.interior {
  max-width: 90%;
  padding: 0 10px;
  margin: auto;
}

.logo {
  float: left;
  padding: 5px 18px 0; /*padding es el espacio entre el contenido y el borde del elemento*/
}
.logo img {
  height: 60px;
}
.logo img:hover {
  /*hover amplia el texto o la imagen*/
  transform: scale(
    1.1
  ); /*define una transformaci칩n que modifica el tama침o de un elemento en el plano 2D*/
}
.navegacion {
  align-items: center; /*alinear los items y centrados*/
  display: flex;
  justify-content: center;
}
.navegacion {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;

  min-height: 80px; /*altura minima*/
}

.navegacion ul li {
  display: inline-block; /*poner en bloque la lista*/
  justify-content: center;
}
/*hover amplia el texto o la imagen*/
.navegacion ul li:hover {
  transform: scale(1.1);
} /*modifica el tama침o de un elemento en el plano 2D*/
.navegacion ul li a {
  color: rgb(0, 0, 0);
  text-items: center;
  text-transform: uppercase; /*especifica el cambio entre mayusculas y minusculas*/
  font-weight: bold; /*negrilla*/
  padding: 12px 20px;
  justify-content: center;
}
.navegacion ul li a:hover {
  color: #d3a1d3;
  transform: scale(1.1);
}
section {
  background-color: #ff890a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23DD5300'/%3E%3Cstop offset='1' stop-color='%23FF890A'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  height: %;
}
.uno {
  background-color: #ffc0b3;
  height: 15vh;
  width: 94%;
  margin-left: 3%;
  margin-top: 2%;
  display: inline-block; /*los alinia o que el  este en la misma linea*/
}
.unouno {
  background-color: rgb(27, 32, 18);
  height: 100%;
  width: 7%;
  margin-left: 8%;
  display: inline-flex;
}
.unodos {
  background-color: rgb(27, 32, 18);
  height: 100%;
  width: 7%;
  margin-left: 8%;
  display: inline-flex;
}
.unotres {
  background-color: rgb(27, 32, 18);
  height: 100%;
  width: 7%;
  margin-left: 8%;
  display: inline-flex;
}
.unocuatro {
  background-color: rgb(27, 32, 18);
  height: 100%;
  width: 7%;
  margin-left: 8%;
  display: inline-flex;
}
.unocinco {
  background-color: rgb(27, 32, 18);
  height: 100%;
  width: 7%;
  margin-left: 8%;
  display: inline-flex;
}
.unoseis {
  background-color: rgb(27, 32, 18);
  height: 100%;
  width: 7%;
  margin-left: 8%;
  display: inline-flex;
}
.uno2 {
  background-color: #ffc0b3;
  height: 15vh;
  width: 94%;
  margin-left: 3%;
  margin-top: 1%;
  display: inline-block; /*los alinia o que el  este en la misma linea*/
}
.unouno2 {
  background-color: rgb(27, 32, 18);
  height: 100%;
  width: 7%;
  margin-left: 8%;
  display: inline-flex;
}
.unodos2 {
  background-color: rgb(27, 32, 18);
  height: 100%;
  width: 7%;
  margin-left: 8%;
  display: inline-flex;
}
.unotres2 {
  background-color: rgb(27, 32, 18);
  height: 100%;
  width: 7%;
  margin-left: 8%;
  display: inline-flex;
}
.unocuatro2 {
  background-color: rgb(27, 32, 18);
  height: 100%;
  width: 7%;
  margin-left: 8%;
  display: inline-flex;
}
.unocinco2 {
  background-color: rgb(27, 32, 18);
  height: 100%;
  width: 7%;
  margin-left: 8%;
  display: inline-flex;
}
.unoseis2 {
  background-color: rgb(27, 32, 18);
  height: 100%;
  width: 7%;
  margin-left: 8%;
  display: inline-flex;
}
.uno3 {
  background-color: #ffc0b3;
  height: 15vh;
  width: 94%;
  margin-left: 3%;
  margin-top: 1%;
  display: inline-block; /*los alinia o que el  este en la misma linea*/
}
.unouno3 {
  background-color: rgb(27, 32, 18);
  height: 100%;
  width: 7%;
  margin-left: 8%;
  display: inline-flex;
}
.unodos3 {
  background-color: rgb(27, 32, 18);
  height: 100%;
  width: 7%;
  margin-left: 8%;
  display: inline-flex;
}
.unotres3 {
  background-color: rgb(27, 32, 18);
  height: 100%;
  width: 7%;
  margin-left: 8%;
  display: inline-flex;
}
.unocuatro3 {
  background-color: rgb(27, 32, 18);
  height: 100%;
  width: 7%;
  margin-left: 8%;
  display: inline-flex;
}
.unocinco3 {
  background-color: rgb(27, 32, 18);
  height: 100%;
  width: 7%;
  margin-left: 8%;
  display: inline-flex;
}

.botoncarro {
  background-color: #ffc0b3;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: #fffdfd;
}
.cero1 {
  background-color: #ff890a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23DD5300'/%3E%3Cstop offset='1' stop-color='%23FF890A'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  height: 80vh;
}
footer {
  background-color: #ff6000;
  margin-inline: 0%;
}
table {
  border: 1px solid; /* borde ancho */
  width: 100%;
}
li {
  list-style: none; /*forma de los puntos de la lista*/
  font-family: sans-serif; /*para cambiar el tipo de letra*/
  font-size: 1em; /*cambiar el tama침o de la letra*/
}
a {
  color: inherit;
  text-decoration: none;
  font-family: serif;
}

#hola {
  text-align: right;
}
#como {
  text-align: center;
}
#estas {
  text-align: left;
}
#tu {
  text-align: left;
}
#papa {
  text-align: center;
}
